.features{
    @extend %section;
    padding-bottom: 0;
}

.features_container{
    @extend %container;
}

.content__title{
    @extend %visually-hidden;
}

.feature__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--set-gap));
    margin-top: calc(-1 * var(--set-gap));
          
  
    .feature__item {
        width: 100%;
        margin-left: var(--set-gap);
        margin-top: var(--set-gap);
        text-align: center;

            @media screen and (min-width:768px) {
                flex-basis: calc(100% / 2 - var(--set-gap));
                margin-left: var(--set-gap);
                margin-top: var(--set-gap);
                text-align:left;
            }
            
            @media screen and (min-width:1200px) {
                flex-basis: calc(100% / 4 - var(--set-gap));
                margin-left: var(--set-gap);
                margin-top: var(--set-gap);
                text-align:left;
            }
        }

}

.feature__icon{
    display: flex;
    max-width: 450px;
    height: 120px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: var(--secondary-bg-color)
}

.feature__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color:var(--secondary-text-color);
}

.feature__description{
    text-align: left;
    max-width: 100%;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primmary-text-color);
}